<div class="container">
  <label>Usuario: </label>
  <label *ngIf="userLogged | async as user">{{ user.email }}</label>

  <div class="card text-center">
    <div class="card-header">Login</div>
    <div class="card-body">
      <label for="email">Email</label
      ><input
        type="email"
        class="form-control"
        placeholder="Ingrese su email"
        [(ngModel)]="usuario.email"
      />
      <label for="passwords">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Ingrese su password"
        [(ngModel)]="usuario.password"
      />
      <button class="btn btn-primary m-3" (click)="ingresar()">Ingresar</button>
      <button class="btn btn-primary m-3" (click)="ingresarGoogle()">
        Ingresar con google
      </button>
      <label>Aún no tienes cuenta <a href="#">Registrarse</a></label>
    </div>

    <div class="">
      <button class="btn btn-info m-2" (click)="obtenerUsuarioLogado()">
        Usuario logado</button
      ><button class="btn btn-info m-2" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
